@import './variables';
@import './mixins';

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 255px;
  border-radius: 10px;

  @include tablet {
    margin-top: 25px;
    height: 355px;
  }

  @include desktop {
    margin-top: 25px;
    height: 415px;
  }

  &__slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &__arrow {
    width: 12px;
    height: auto;
    cursor: pointer;

    @include tablet {
      width: 47px;
    }
  }

  &__leftArrow {
    position: absolute;
    left: 6px;

    @include tablet {
      left: 23px;
    }
  }

  &__rightArrow {
    position: absolute;
    right: 6px;

    @include tablet {
      right: 23px;
    }
  }

  &__counter {
    display: none;
    @include tablet {
      display: block;
      position: absolute;
      bottom: 10px;
      color: white;
      font-weight: 500;
      font-size: 12px;
      font-size: 18px;
      bottom: 25px;
    }
  }
}
