@import './variables';
@import './mixins';

.housing {
  color: $primary-color;

  &__container {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    margin-top: 15px;
    margin-bottom: 0;
    line-height: 26px;
    font: {
      weight: 500;
      size: 18px;
    }

    @include mobile-s {
      line-height: 20px;
      font-size: 16px;
    }

    @include tablet {
      margin-top: 30px;
      font-size: 20px;
      line-height: 31px;
    }

    @include desktop {
      font-size: 36px;
      line-height: 51px;
    }
  }

  &__subtitle {
    margin-top: 5px;
    margin-bottom: 12px;
    font-size: 14px;

    @include mobile-s {
      font-size: 12px;
    }

    @include tablet {
      margin-bottom: 20px;
      margin-top: 20px;
    }

    @include desktop {
      font-size: 18px;
    }
  }
}

.rentalCollapses {
  margin-top: 10px;
  margin-bottom: 30px;
  list-style-type: none;
  padding-left: 0;

  @include tablet {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
  }

  &__li {
    margin-top: 0;
    margin-bottom: 20px;
    @include tablet {
      width: 47%;
    }

    & p {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      //height: 143px;
      padding: 23px 7px 2px 12px;
      @include tablet {
        //height: 170px;
        padding: 40px 12px 53px 20px;
        line-height: 26px;
        font: {
          weight: 400;
          size: 18px;
        }
      }
    }
  }

  &__header {
    border-radius: 10px;
    padding: 13px 19px 13px 20px;

    @include tablet {
      margin-top: 0;
      font: {
        weight: 500;
        size: 18px;
      }
    }

    & img {
      @include tablet {
        width: 26px;
        height: auto;
      }
    }
  }

  &__equipments {
    display: flex;
    flex-direction: column;
  }
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;

  @include tablet {
    margin-bottom: 25px;
    width: 90%;
  }

  @include desktop {
    width: 100%;
  }
}

.containerRateProfile {
  display: flex;
  justify-content: space-between;

  @include tablet {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}
