@import './variables';
@import './mixins';

.layout {
  font: {
    weight: 500;
    size: 12px;
  }

  &__padding {
    padding: 20px;

    @include tablet {
      padding: 30px 60px 30px 60px;
    }

    @include desktop {
      padding: 40px 100px 50px 100px;
    }
  }

  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    font-size: 24px;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  & img {
    width: 145px;
    height: auto;

    @include mobile-s {
      width: 80px;
      height: auto;
    }

    @include tablet {
      width: 180px;
      height: auto;
    }

    @include desktop {
      width: 210.32px;
      height: auto;
    }
  }

  & nav {
    display: flex;
    align-items: center;
  }

  &__nav {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;

    & li:first-child {
      margin-right: 10px;

      @include tablet {
        margin-right: 30px;
      }

      @include desktop {
        margin-right: 57px;
      }
    }

    & a {
      color: $primary-color;
      text-decoration: none;

      & span {
        text-transform: uppercase;

        @include desktop {
          text-transform: lowercase;
        }
      }

      &.active {
        text-decoration: underline;
      }
    }
  }
}

.footer {
  width: 100%;
  margin-top: 50px;
  padding-top: 62px;
  padding-bottom: 69px;

  @include tablet {
    padding-top: 74px;
    padding-bottom: 29px;
  }

  background: black;
  color: white;
  text-align: center;

  & img {
    @include mobile-s {
      width: 80px;
      height: auto;
    }
  }

  & p {
    margin: 30px 0px 0px 0px;
  }
}
