@import './variables';
@import './mixins';

.profile {
  display: flex;
  justify-content: end;
  align-items: center;

  &__name {
    width: min-content;
    margin-right: 10.5px;
    line-height: 17px;
    font: {
      weight: 500;
      size: 12px;
    }

    @include tablet {
      margin-right: 10px;
      line-height: 25px;
      font-size: 18px;
    }
  }

  &__picture {
    width: 32px;
    height: 32px;
    border-radius: 50px;

    @include tablet {
      width: 64px;
      height: 64px;
    }
  }
}
